/* Estilos padrão */
body {
  font-family: sans-serif;
  margin: 0;
  padding: 0;
  background-color: #000; /* Cor de fundo preto */
  color: #fff; /* Cor do texto branco */
}

main {
  padding: 0;
}

.movie-details {
  margin-bottom: 20px;
  background: 
      linear-gradient(rgba(0, 0, 0, 0.5), rgba(0, 0, 0, 0.5)),
      url(/View/img/lua.jpg);
  background-size: cover;
  background-position: center;
  padding: 16vh;
  position: relative; /* Adicione esta linha */
  background-attachment: fixed; /* Adicione esta linha */
}

.movie-details::before {
  content: "";
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background-color: rgba(0, 0, 0, 0.5);
  z-index: -1; /* Coloca a pseudo-elemento atrás do conteúdo */
}

.movie-title {
  font-weight: bold;
  font-size: 32px;
}

button {
  background-color: #e50914;
  color: #fff;
  padding: 10px 20px;
  border: none;
  border-radius: 5px;
  cursor: pointer;
  font-weight: bold;
}

button:hover {
  background-color: #c11119;
}

button:active {
  background-color: #99161d;
}

