:root {
    --cor-principal: #0e0f12;
    --cor-secundaria: #303030;
    --botoes-interacoes: #e50914;
    --hover-botoes: #c11119;
    --vermelho-click: #99161d;
    --branco-padrao: #ffffff;
    --font-padrao: 'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
}

* {
    margin: 0;
    padding: 0;
}

body {
    font-family: sans-serif;
    background-image: url(../img/netflix-bg.jpg);
    background-repeat: no-repeat; 
    background-size: cover; 
    height: 100%;
}

.apresentacao {
    font-family: sans-serif;
    padding: 1rem 1rem 1rem 1rem;
    display: flex;
    align-items: center;
    justify-content: space-between;
    gap: 80px;
}

.form {
    padding: 20px;

}

.login_form {
    background-color: var(--vermelho-click);
    margin-top: 8rem;
    margin-left: 8rem;
    width: 35rem;
    height: 27rem;
    border-radius: 0.625rem;
    text-align: center;
    gap: 3rem;

}

.login_form h1 {
    color: var(--branco-padrao);
    font-size: 2rem;
    margin-bottom: 2.5rem;
    margin-top: 2rem;
}


.email_form label {
    display: block;
    margin-right: 23rem;
    font-size: 2rem;
}

.email_form input {
    margin-bottom: 1.5rem;
    margin-left: 0.625rem;
    font-size: 2.5rem;
    height: 2.9rem;
    border-radius: 0.625rem;
}

.password_form label {
    display: block;
    margin-right: 23rem;
    font-size: 2rem;
}

.password_form input {
    margin-bottom: 1.5rem;
    margin-left: 0.9375rem;
    font-size: 2.5rem;
    height: 2.9rem;
    border-radius: 0.625rem;
}



.email_form,
.password_form {
    color: var(--branco-padrao);
}

.form-enviar button {
    color: var(--branco-padrao);
    background-color: var(--cor-principal);
    align-items: center;
   width: 12rem;
   height: 3rem;
   border-radius: 1rem;
   font-size: 1.5rem;
   margin-bottom: 1rem;  

}

.info_form{
    margin-top: -14px;
}

.form-cds {
    color: var(--branco-padrao);
    font-size: 1rem;
    margin-top: 1px;
    
}

.form-cds a {
    color: var(--cor-principal);
    font-size: 1rem;
}


.form-checkbox {
    color: var(--branco-padrao);
    font-size: 1rem;
    margin-bottom: 1px; 
}

.form-checkbox a {
    color: var(--cor-principal);
    font-size: 1rem;

}

.apresentacao_images {
    margin-right: 6rem;
    margin-top: 1rem;
}

.images_nome {
    color: var(--branco-padrao);
    text-align: center;
    margin-right: 1rem;
    margin-top: 5rem;
    font-size: 1.5rem;
}

.images {
    justify-content: center;
    display: grid;
    flex-wrap: wrap;
}

.images_notebook img {
    width: 6rem;
    height: 6rem;
    margin-right: 1rem;
    margin-top: 1rem;


}

.images_smartphone img {
    width: 6rem;
    height: 6rem;

}

.images_tv img {
    width: 6rem;
    height: 6rem;

}

.images_film img {
    width: 6rem;
    height: 6rem;

}