header {
  padding: 15px;
  background-color: black;
  color: #fff;
  display: flex;
  align-items: center; /* Alinhamento vertical */
}

.site-name {
  font-weight: bold;
  font-size: 28px;
  color: #e50914;
  margin-left: 20px; /* Ajuste para alinhamento em telas pequenas */
}

nav {
  display: flex; /* Alinha os itens da navegação horizontalmente */
  align-items: center; /* Alinha os itens verticalmente */
  margin-left: auto; /* Alinha à direita */
  margin-right: 20px; /* Ajuste para alinhamento em telas pequenas */
}

nav a {
  color: #fff;
  margin-left: 20px; /* Espaçamento entre os itens */
  text-decoration: none;
  font-size: 20px;
  font-weight: bold;
  display: inline-block; /* Centraliza os itens */
  text-align: center; /* Centraliza o texto horizontalmente */
  width: 150px; /* Define uma largura para os itens */
  transition: color 0.3s; /* Transição suave para a cor */
}

nav a:hover {
  text-decoration: underline;
  color: #e50914;
}

.search-box {
  display: flex;
  align-items: center;
  border-radius: 20px;
  overflow: hidden;
  background-color: rgba(255, 255, 255, 0.2); /* Cor de fundo do campo de busca */
  margin-right: 20px; /* Ajuste para alinhamento em telas pequenas */
}

.search-box input[type="text"] {
  flex: 1;
  padding: 10px;
  border: none;
  background: transparent;
  color: #fff;
  outline: none;
}

.search-box input[type="text"]::placeholder {
  color: #fff; /* Cor do texto do placeholder */
}

.search-box a {
  padding: 15px;
  background-color: black; /* Cor do botão de busca */
  border: none;
  color: #fff;
  cursor: pointer;
  font-weight: bold;
  font-size: 20px;
  transition: background-color 0.3s; /* Transição suave para o background */
}

.search-box a:hover {
  background-color: #333; /* Cor do botão de busca ao passar o mouse */
}

/* Media queries para telas pequenas */
@media screen and (max-width: 767px) {
  header {
    flex-direction: column;
    align-items: flex-start;
  }

  .site-name {
    margin-left: 15px;
    margin-bottom: 10px;
  }

  nav {
    margin-top: 20px;
    margin-left: 15px;
    flex-direction: column;
  }

  nav a {
    font-size: 16px;
    margin: 5px 15px;
    width: auto;
  }

  .search-box {
    margin: 20px 15px;
    margin-right: 0; /* Remover margem à direita */
  }
}
