header {
  padding: 15px;
  background-color: black;
  color: #fff;
  display: flex;
  align-items: center; /* Adicionando alinhamento vertical */
}


.site-name {
  font-weight: bold;
  font-size: 28px;
  color: #e50914;
}

nav {
  display: flex; /* Para alinhar os itens da navegação horizontalmente */
  align-items: center; /* Para alinhar os itens verticalmente */
  margin-left: auto; /* Ajuste para alinhar à direita */
  margin-right: 30px; /* Ajuste para alinhar à direita */
}


.categoria,
.cadastro,
.suporte,
.perfil {
  color: #fff;
  margin-left: 30px;
  text-decoration: none;
  font-size: 20px;
  font-weight: bold;
  display: inline-block; /* Para que possam ser centralizadas */
  text-align: center; /* Centraliza o texto horizontalmente */
  width: 150px; /* Define uma largura para as palavras */
}

.categoria + .cadastro,
.cadastro + .suporte,
.suporte + .perfil {
  margin-left: 20px;
}


nav a:hover {
  text-decoration: underline;
}

.categoria:hover,
.cadastro:hover,
.suporte:hover,
.perfil:hover, 
.search-box:hover,
.fas:hover {
  color: #e50914;
}

.search-box {
  display: flex;
  align-items: center;
  border-radius: 20px;
  overflow: hidden;
  background-color: rgba(255, 255, 255, 0.2); /* Cor de fundo do campo de busca */
}


.search-box input[type="text"] {
  flex: 1;
  padding: 10px;
  border: none;
  background: transparent;
  color: #fff;
  outline: none;
}

.search-box input[type="text"]::placeholder {
  color: #fff; /* Cor do texto do placeholder */
}

.search-box a {
  padding: 15px;
  background-color: black; /* Cor do botão de busca */
  border: none;
  color: #fff;
  cursor: pointer;
  transition: background-color 0.3s;
  font-weight: bold;
  font-size: 20px;
}

search-box a:hover {
  background-color: black; /* Cor do botão de busca ao passar o mouse */
}
