header {
  padding: 15px;
  background-color: rgb(20, 20, 20);
  color: #fff;
  display: flex;
  align-items: center; /* Alinhamento vertical */
}

header .site-name {
  font-weight: bold;
  font-size: 28px;
  color: #e50914;
  margin-left: 20px; /* Ajuste para alinhamento em telas pequenas */
}

header nav.left-section{
  display: flex;
  align-items: center;
  margin-left: auto;
}

header nav {
  display: flex; /* Alinha os itens da navegação horizontalmente */
  align-items: center; /* Alinha os itens verticalmente */
  margin-left: auto; /* Alinha à direita */
  margin-right: 20px; /* Ajuste para alinhamento em telas pequenas */
  flex-grow: 1; /* Permite que o nav ocupe o espaço restante */
}

header nav .home-page {
  margin-right: auto; /* Alinha o "Home Page" à esquerda */
  color: #fff;
  margin-left: 20px; /* Espaçamento entre os itens */
  text-decoration: none;
  font-size: 20px;
  font-weight: bold;
  display: inline-block; /* Centraliza os itens */
  text-align: center; /* Centraliza o texto horizontalmente */
  width: 150px; /* Define uma largura para os itens */
  transition: color 0.3s; /* Transição suave para a cor */
}

header nav .home-page:hover {
  text-decoration: underline;
  color: #e50914;
}

header nav .management {
  margin-right: auto; /* Alinha o "Home Page" à esquerda */
  color: #fff;
  margin-left: -40px; /* Espaçamento entre os itens */
  text-decoration: none;
  font-size: 20px;
  font-weight: bold;
  display: inline-block; /* Centraliza os itens */
  text-align: center; /* Centraliza o texto horizontalmente */
  width: 150px; /* Define uma largura para os itens */
  transition: color 0.3s; /* Transição suave para a cor */
}

header nav .management:hover {
  text-decoration: underline;
  color: #e50914;
}


header nav .right-section {
  display: flex; /* Alinha os itens da seção à direita horizontalmente */
  align-items: center; /* Alinha os itens verticalmente */
  margin-left: auto; /* Alinha à direita */
}

header nav .right-section a {
  color: #fff;
  margin-left: 20px; /* Espaçamento entre os itens */
  text-decoration: none;
  font-size: 20px;
  font-weight: bold;
  display: inline-block; /* Centraliza os itens */
  text-align: center; /* Centraliza o texto horizontalmente */
  transition: color 0.3s; /* Transição suave para a cor */
}

header nav .right-section a:hover {
  text-decoration: underline;
  color: #e50914;
}

header .search-box {
  display: flex;
  align-items: center;
  border-radius: 20px;
  overflow: hidden;
  background-color: rgba(255, 255, 255, 0.2); /* Cor de fundo do campo de busca */
  margin-left: 20px; /* Ajuste para espaçamento */
}

header .search-box input[type="text"] {
  flex: 1;
  padding: 10px;
  border: none;
  background: transparent;
  color: #fff;
  outline: none;
}

header .search-box input[type="text"]::placeholder {
  color: #fff; /* Cor do texto do placeholder */
}

header .search-box button {
  padding: 15px;
  background-color: black; /* Cor do botão de busca */
  border: none;
  color: #fff;
  cursor: pointer;
  font-weight: bold;
  font-size: 20px;
  transition: background-color 0.3s; /* Transição suave para o background */
}

header .search-box button:hover {
  background-color: #333; /* Cor do botão de busca ao passar o mouse */
}

/* Media queries para telas pequenas */
@media screen and (max-width: 767px) {
  header {
    flex-direction: column;
    align-items: flex-start;
  }

  header .site-name {
    margin-left: 15px;
    margin-bottom: 10px;
  }

  header nav {
    margin-top: 20px;
    margin-left: 15px;
    flex-direction: column;
  }

  header nav .home-page {
    margin-right: auto;
  }

  header nav .right-section {
    flex-direction: column;
    align-items: flex-start;
    margin-left: 0;
  }

  header nav .right-section a,
  header .search-box {
    margin: 5px 0;
  }

  header .search-box {
    margin-left: 0; /* Remover margem à esquerda */
  }
}
