/* 
Seguintes cores em hexcode:
Cor Principal (Preto) -#0e0f12
Cor Secundária (Cinza escuro) - #303030
Botões/interações (Vermelho) - #e50914
Hover nos botões, etc (Vermelho mais escuro) - #c11119
Vermelho Onclick - #99161d */



body {
    font-family: Arial, sans-serif;
    margin: 0;
    padding: 20px;
    background-color: #0e0f12;
}
.container {
    max-width: 1200px;
    margin: auto;
    padding: 20px;
    background-color:  #303030;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
}
.movie {
    display: flex;
    margin-bottom: 20px;
    padding: 20px;
    border: 1px solid #000000;
    border-radius: 8px;
    background-color: #202020;
}
.movie img {
    max-width: 150px;
    margin-right: 20px;
    border-radius: 8px;
}
.movie-details {
    display: flex;
    flex-direction: column;
    justify-content: space-between;
}

a{
    color: white;
}

a:hover{
    color: red;
}
.movie-title {
    font-size: 24px;
    margin-bottom: 10px;
}
.movie-genre {
    font-size: 18px;
    color: #666;
}